.road-rage-regular {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Courier Prime', monospace;
}

/* Style for the title */
h1 {
    text-align: center;
    color: #000000;
    font-family: 'Road Rage', sans-serif;
    letter-spacing: 2.5px;
    font-size: 4em;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Style for the container */
    
.container {
    margin: auto auto;
    width: auto;
    max-width: 90%;
    background-color: #afafaf;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    display: contents;

}

/* Flexbox layout for body to center content vertically and horizontally */
body {
    min-height: 100vh;
    display: flexbox;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    margin: 0;
    padding: 1em;

}

/* Style for the canvas */
canvas {
    border: 3px solid #000000;
    height: 600px;
    width: 600px;
    box-shadow: 0 0 10px 5px #000000;
    display: flexbox;
    border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 25px;
}

/* Ensure main takes available space */
main {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

/* ensure footer stays at the bottom */
footer {
    flex-shrink: 0;
    text-align: center;
    padding: 1em;
}

/* style for button container */
#buttonContainer {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
}

/* Style for buttons */
button {
    background-color: #4CAF50;
    /* Green */
    border: 2px solid #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    height: 48px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
    align-items: center;
}

/* style for disable CSS button */
#disableCSSButtonHTML {
    background-color: #c5c5c5;
    /* Red */
    border: 2px solid #c5c5c5;
    color: white;
}

/* hover effect for disable CSS button */
#disableCSSButtonHTML:hover {
    background-color: #e0e0e0;
    /* make the button a lighter red on hover */
    border: 2px solid #a5a5a5;
}

button:hover {
    background-color: #3ec545;
    /* make the buttons a lighter green on hover */
    border: 2px solid yellowgreen;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Style for number input fields */
.numberInput {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    transition-duration: 0.4s;
}


/* Style for the maze size div */
#regularMazeModeOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

/* style for warning messages */
.warning {
    color: red;
    font-weight: bold;
}

/* style for important text */
.importantText {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
}

/* style for blue text */
.blueText {
    color: blue;
    font-weight: bold;
    font-size: 18px;
}

/*style for red text */
.redText {
    color: red;
    font-weight: bold;
    font-size: 18px;
}
